#results, #captcha {
  display: none;
  text-align: center;
}

body {
  font-family: monospace;
  background-color: black;
  color: white;
  font-size: 17px;
  /* add option to switch to normal theme */
}

#header {
  font-variant: small-caps;
  font-size: 70px;
  font-weight: bold;
  text-shadow: 4px 4px black;
  text-align: center;
  background-image: url("img/black.jpg");
  color: red;
}

.question {
  padding-top: 30px;
}

.btn {
  background-color: white;
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
}

#captcha {
  background-image: url(img/bugs2.jpg);
  background-size: contain;
  width: 353px;
  height: 500px;
  margin-bottom: 30px;
}
#captcha-image {
  width: 90px;
  position: relative;
  top: 100px;
  left: -131px;

}
